* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    z-index: 0;
    font-family: "Signika Negative" sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: fixed;

    width: 100%;
    height: 80px;

    background-color: #3e74a1;

    z-index: 1;
}

.ajuste-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1336px;
    height: 100%;
}

.logo {
    cursor: pointer;
    width: 250px;
    height: 60px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 600px;
    height: 100%;
}

ul li {
    list-style: none;
    cursor: pointer;

    font-size: 23px;
    font-family: 'Signika Negative', sans-serif;

    color: white;
}

li:hover {
    color: black;
}

.whatsapp {
    width: 40px;
}

.contato-header {
    display: flex;
    flex-direction: row;
}

.mensagem-whatsapp {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.mensagem-whatsapp a {
    font-size: 18px;
    color: white;
    font-family: 'Signika Negative';
    text-decoration: none;
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 1336px;

    margin-top: 80px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto-hero {
    width: 1336px;
    height: 450px;
}

.ajuste-mensagem-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1336px;
}

.mensagem-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: relative;
    width: 685px;
    height: 617px;
    top: -80px;
    left: -160px;
    border-radius: 10%;
    background-color: #3e74a1;
}

.caixa-mensagem-principal {
    width: 550px;
}

.mensagem-principal {
    display: block;
    font-family: "Signika Negative";
    font-size: 40px;

    color: white;
}

.caixa-mensagem-secundaria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    width: 550px;
    height: 150px;
}

.mensagem-secundaria {
    font-family: "Signika Negative";
    color: white;
}

.mensagem-secundaria span {
    color: #daa520;
}

.caixa-mensagem-secundaria .imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 150px;
}

.dentro-mensagem-secundaria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.mensagem-auxiliar {
    font-family: "Signika Negative";
    color: white;
}

.mensagem-auxiliar span {
    color: #daa520;
}

.botao-principal {
    width: 200px;
    height: 50px;

    font-size: 20px;
    font-family: "Signika Negative";
    background-color: #34af23;
    border-radius: 5px;
    cursor: pointer;

    color: white;
    border: 2px solid white;
}

.botao-principal:hover {
    color: #3e74a1;
    background-color: white;
    border: 2px solid black;
}

.foto-ferro {
    width: 120px;
}

.caixa-nossos-produtos {
    display: flex;
    flex-direction: column;

    font-family: "Signika Negative";

    color: #3e74a1;
}

.caixa-nossos-produtos h1 {
    align-self: center;

    margin-bottom: 20px;
    font-size: 50px;
    font-family: "Signika Negative";

}

.divisao-produtos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 1336px;
    height: 300px;
}

.produtos-unicos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.produtos-unicos h3 {
    font-size: 26px;
    margin-top: 40px;
}

.bolas-decoracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 215px;
    height: 215px;

    background-color: #3e74a1;
    border-radius: 50%;
}

.bolas-decoracao img {
    width: 165px;
}

.bolas-decoracao img:hover {
    width: 250px;
}

.caixa-depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
    width: 1336px;
    height: 400px;
    /* background-image: url(./assets/fundo.jpeg); */
}

.caixa-depoimentos h1 {
    font-size: 50px;
    font-family: "Signika Negative";

    margin-bottom: 30px;
    color: #3e74a1;
}

.dados-depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 800px;
    height: 300px;

}

.identificacao-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.identificacao-usuario h4 {
    margin-top: 5px;
    font-size: 20px;
    font-family: "Signika Negative";
}

.dados-depoimentos img {
    width: 80px;
}

.mensagem-usuario {
    margin-top: 60px;

    font-size: 26px;
    font-family: "Signika Negative";
    text-align: center;
}

h5 {
    color: #3e74a1;
    margin-top: 10px;
    font-family: "Signika Negative";
}

h5 span {
    color: #daa520;
}

h5 a {
    text-decoration: none;
    color: #3e74a1;
}

.informacoes-adicionais {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 600px;
}

.informacoes-adicionais h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-family: "Signika Negative";

    color: #3e74a1;
}

.informacoes-adicionais h3 {
    font-size: 20px;
    font-family: "Signika Negative";
}

.redes-sociais {
    display: flex;
    flex-direction: row;

    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    background-color: #3e74a1;
}